{% extends 'base.html.twig' %}

{% block title %}Hello Home!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
{% endblock %}

{% block body %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h2>List ChambreHote</h2>
        <a href="{{ path('AjouterChambreHote') }}" class="btn btn-primary">ADD</a>
    </div>
    <table class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>nomChambre</th>
                <th>capacite</th>
                <th>prix</th>
                <th>adresse</th>
                <th>image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for g in chambres %}
            <tr>
                <td>{{ g.id }}</td>
                <td>{{ g.nomChambre}}</td>
                <td>{{ g.capacite }}</td>
                <td>{{ g.prix }}</td>
                <td>{{ g.adresse }}</td>
                <td>
                    {% if g.getImage() is not null %}
                        <img src="{{ publicPath ~ g.getImage }}" height="100">
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ path('chambre_show', {'id': g.id }) }}">Details</a>
                    <a class="btn btn-success" href="{{ path('update_chambre', {'id': g.id }) }}">Update</a>
                    <a class="btn btn-danger" href="{{ path('delete_chambre', {'id': g.id }) }}"
                       onclick="return confirm('Are you sure to delete! {{ g.nomChambre }}')">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
