{% extends 'base.html.twig' %}

{% block titre %}{{parent()|upper}} - {{titre}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{{ titre }}</h2>
                    {{ form_start(f, {'attr': {'class': 'my-form-class'}}) }}
                    <div class="form-group">
                        {{ form_label(f.nom) }}
                        {{ form_widget(f.nom, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(f.nbrPersonne) }}
                        {{ form_widget(f.nbrPersonne, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(f.email) }}
                        {{ form_widget(f.email, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(f.dateArr) }}
                        {{ form_widget(f.dateArr, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(f.dateDep) }}
                        {{ form_widget(f.dateDep, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    {# <div class="form-group"> #}
                        {# {{ form_label(f.image) }} #}
                        {# {{ form_widget(f.image, {'attr': {'class': 'form-control-file'}}) }} #}
                        {# </div> #}
                    
                    <div class="form-group">
                        {{ form_label(f.ChambreHote) }}
                        {{ form_widget(f.ChambreHote, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(f.Valider, {'attr': {'class': 'btn btn-primary'}}) }}
                    </div>
                    {{ form_end(f) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
