{% extends 'base.html.twig' %}

{% block title %}Liste de clients{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <style>
    
        h3 {
            font-size: 1.75rem;
            color:#007bff;
            text-align: right;
          }
          .button-cell {
            white-space: nowrap;
        }
        
        .button-cell .btn {
            display: inline-block;
            margin-right: 5px;
        }
        
    </style>


    {% endblock %}

{% block body %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h3 style="flex-grow: 1; text-align: right; margin-right: 10px;">Liste de clients</h3>
        <small><a href="{{ path('Ajouter') }}" class="btn btn-primary">Ajouter</a></small>
    </div>
    <table class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th>id</th>
                <th>Nom</th>
                <th>Nombre de Personne</th>
                <th>Email</th>
                <th>Date Arrivée</th>
                <th>Date Depart</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for c in clients %}
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.nom }}</td>
                <td>{{ c.nbrPersonne }}</td>
                <td>{{ c.email }}</td>
                <td>{{ c.getdateArr()|date('d/m/Y') }}</td>
                <td>{{ c.getdateDep()|date('d/m/Y') }}</td>
                <td>
                    {% if c.getImage() is not null %}
                        <img src="{{ publicPath ~ c.getImage }}" height="100">
                    {% endif %}
                </td>
                <td class="button-cell">
                    <a class="btn btn-primary" href="{{ path('show_client', {'id': c.id }) }}">Details</a>
                    <a class="btn btn-success" href="{{ path('update_client', {'id': c.id }) }}">Modifier</a>
                    <a class="btn btn-danger" href="{{ path('delete_client', {'id': c.id }) }}"
                        onclick="return confirm('Êtes-vous sûr de vouloir supprimer! {{ c.nom }}')">
                        Supprimer
                    </a>
                </td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
