{% extends 'base.html.twig' %}

{% block titre %}
    {{ parent()|upper }}:<br>
    Player: {{ client.getNom() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .center-card {
            display: flex;
            justify-content: center;
            /* align-items: center; */
            overflow: hidden;
        }
        .player-image {
            max-width: 200px;
        }
        .custom-card {
            width: 400px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    </style>
{% endblock %}

{% block body %}
<div class="container center-card">
    <div class="card custom-card">
        <div class="card-body">
            <h2 class="card-title">Name: {{ client.getNom() }}</h2>
            <h5 class="card-subtitle mb-2 text-muted">Score: {{ client.getNbrPersonne() }}</h5>
            <h5 class="card-subtitle mb-2 text-muted">Email: {{ client.getEmail() }}</h5>
            <h5 class="card-subtitle mb-2 text-muted">Born at: {{ client.getDateArr()|date('Y-m-d') }}</h5>
            <h5 class="card-subtitle mb-2 text-muted">Born at: {{ client.getDateDep()|date('Y-m-d') }}</h5>
            
            {% if client.Image is not null %}
                <img src="{{ publicPath ~ client.getImage }}" class="card-img-top img-fluid player-image" alt="Player Image">
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
